 reval
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* hilangkan scroll */
  height: 100%;
}

* {
  box-sizing: border-box;
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html[data-toolpad-color-scheme="light"] {
  background-color: #ffffff; /* putih saat light mode */
}

html[data-toolpad-color-scheme="dark"] {
  background-color: #191A19; /* hitam saat dark mode */
}
